* {
    box-sizing: border-box;
  }
  
  :root {
    --header-color: #006633;
    --bg-color: #330066;
    --box-color: #660033;
    font-size: 60%;
    color: white;
  }

  header {
      background-color: var(--bg-color);
  }

  main {
    background-color: var(--bg-color);
  }

  main .question-item {
    display: block;
    background-color: var(--header-color);
    padding: 10px;
  }

  main .answer-item {
    display: block;
    background-color: var(--box-color);
    padding: 10px;
    margin: 20px;
  }